<meta charset="utf-8">
<title>{{ title || ekmwest }}</title>
<meta name="robots" content="{{ robots || index }}" />
<meta name="description" content="Unlearning analytical thinking">
<link rel="shortcut icon" type="image/svg+xml" href="/_images/site-icon.svg" />
<link rel="apple-touch-icon" href="/_images/apple-touch-icon.png">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/_styles/style.css" />
<script src="/_scripts/dark-mode.js"></script>
