body {
    font-family: -apple-system, "Segoe UI", Helvetica, sans-serif;
    font-size: 18px;
    color: #222;
    line-height: 1.5;
    margin: 0;
    padding: 0 24px 128px;
    overflow-y: scroll;
}



/* ==========================================================================
   Header
   ========================================================================== */

.header {
    display: flex;
    margin: clamp(2em, 4vw, 4em) auto clamp(3em, 4vw, 4em);
    max-width: 640px;
}

.header__site-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #0377f1;
    padding: 2px 0;
}

.header__site-link:hover {
    color: #333;
}

.header__site-link svg {
    height: 24px;
    height: 18px;
}

.header__site-link span {
    display: none;
}



/* ==========================================================================
   Main
   ========================================================================== */

.main {
    max-width: 640px;
    margin: 0 auto;
}



/* ==========================================================================
   Table of Contents
   ========================================================================== */

.toc {
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-direction: column;
}

.toc li {
    margin: 0 0 32px;
    padding: 0;
    list-style: none;
}
.toc a {
    color: inherit;
    text-decoration: none;
    display: inline-flex;
    flex-direction: column;
}

.toc h2 {
    margin: 0 0 .3em;
    font-size: 20px;
    line-height: 1.1;
}

.toc a:hover {
    color: #0377f1;
}

.toc p { /* article date */
    margin: 0;
    font-size: .8em;
    font-weight: 400;
    color: #73757b;
    font-family: monospace;
}



/* ==========================================================================
   Article & Defaults
   ========================================================================== */

time { /* article date */
    display: block;
    margin: 0 3px .2em;
    font-size: .8em;
    font-weight: 400;
    font-family: monospace;
    color: #73757b;
    text-transform: uppercase;
}

h1 {
    margin: 0 0 .9em;
    font-size: 2.2em;
    font-weight: bold;
    line-height: 1.1;
}

h2 {
    margin: 2em 0 .1em;
    font-size: 1.06em;
}

p {
    margin: 0 0 1.2em;
}

blockquote {
    border-left: 3px solid #102030;
    margin: 1.2em 0 1.2em .1em;
    padding: .2em 0 .2em 1em;
}

blockquote p {
    margin: 0 0 1em;
}

blockquote p:last-child {
    margin: 0;
}

li {
    margin-bottom: .4em;
}

a {
    color: #0377f1;
}
