<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/svg+xml" href="/img/site-icon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/is-mobile.js"></script>
    <script src="/js/inject.js" type="module"></script>
    <title>{{ title || ekmwest }}</title>
</head>

<body>
    <header class="header">
        <a class="header__site-link" href="/" aria-label="Home">
            <svg data-inject="/img/site-logo.svg" alt="Logo"></svg>
            <span>ekmwest</span>
        </a>
    </header>

    <main class="main">