body {
    font-family: -apple-system, "Segoe UI", Helvetica, sans-serif;
    font-size: 18px;
    color: #222;
    line-height: 1.5;
    margin: 0;
    padding: 48px 48px 128px;
    overflow-y: scroll;
    transition: padding .2s;
}

.is-mobile body {
    padding: 24px 24px 128px;
}

/* ==========================================================================
   Header
   ========================================================================== */

.header {
    display: flex;
    margin: 0 0 64px;
    transition: margin .2s;
}

.is-mobile .header {
    margin: 0 0 48px;
}

.header__site-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #0377f1;
    padding: 2px;
    transition: color .3s;
}

.header__site-link:hover {
    color: #333;
}

.header__site-link svg {
    height: 20px;
}

.header__site-link span {
    display: none;
}

/* ==========================================================================
   Main
   ========================================================================== */

.main {
    max-width: 640px;
    margin: 0 auto;
}

/* ==========================================================================
   Table of Contents
   ========================================================================== */

.toc {
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-direction: column;
}

.toc li {
    margin: 0 0 24px;
    padding: 0;
    list-style: none;
}
.toc a {
    color: inherit;
    text-decoration: none;
    display: inline-flex;
    flex-direction: column;
    transition: color .2s;
}

.toc h2 {
    margin: 0;
    font-size: 18px;
}

.toc a:hover {
    color: #0377f1;
}

.toc p { /* article date */
    margin: 0;
    font-size: .8em;
    font-weight: 400;
    color: #bcbfc5;
    font-family: monospace;
}

/* ==========================================================================
   Article & Defaults
   ========================================================================== */

h6 { /* article date */
    margin: 0 2px 1em;
    font-size: .8em;
    font-weight: 400;
    font-family: monospace;
    color: #bcbfc5;
}

h1 {
    margin: 0 0 .9em;
    font-size: 2.2em;
    font-weight: bold;
    line-height: 1.1;
}

h2 {
    margin: 3em 0 .5em;
    font-size: 1.1em;
}

p {
    margin: 1.2em 0;
}

blockquote {
    border-left: 3px solid #102030;
    margin: 1.2em 0 1.2em .1em;
    padding: .2em 0 .2em 1em;
}

blockquote p {
    margin: 0 0 1em;
}

blockquote p:last-child {
    margin: 0;
}

li {
    margin-bottom: .4em;
}

a {
    color: #0377f1;
}
